<%=render 'shared/report_header'%>
<div class = "row">
	<div class = "col-12">
		<h5 class="text-center">
			<%=@report_info[:title]%>
		</h5>
	</div>
</div>

<div id = "table-collections" 
  class = "table-daniel"
  style = "height: calc(100vh - 270px)">
  <table id = "main-table">
    <thead id="report">
  	  <tr>
  	    <th>
  		    <%=I18n.t('reports.collections_report.franchise')%>
 		    </th>
		    
		    <th class = "td-center">
			    <%=I18n.t('reports.collections_report.recvd')%>
		    </th>

		    <th class = "td-right">
		    	<%=I18n.t('reports.collections_report.collections')%>
		    </th>

		    <th class = "td-right">
		    	<%=I18n.t('reports.collections_report.royalty')%>
		    </th>

		    <th class = "td-right">
		    	<%=I18n.t('reports.collections_report.pct')%>
		    </th>

		  </tr>
	  </thead>
	  <%if @collections.size > 0%>
	    <tbody>
	     
	      <%@collections.each do |collection|%>
	        <tr>
	          <td data-name="Franchise">
		          <%="#{collection.franchise_number} #{collection.lastname} #{collection.firstname}"%>
		        </td>
		  
		  	    <td class = "td-center" data-name="Recvd">
		  	    	<%="#{collection.year} #{collection.month}"%>
		  	    </td>

		  	     <td class = "td-right" data-name="Collections">
		  	    	<%=number_to_currency(collection.tot_collect, precision: 2)%>
		  	    </td>
		  	     <td class = "td-right" data-name="Royalty">
		  	    	<%=number_to_currency(collection.royalty, precision: 2)%>
		  	    </td>
		  	    <td class = "td-right" data-name="Percentage">
		  	    	<%=number_to_percentage(collection.roy_pct, precision: 2)%>
		  	    </td>
				  </tr>
			  <%end%>
			</tbody>
  	 
  	  
    <%end%> 

		<tfoot id="report-footer">
  		<tr>
        <td class = "td-left">   
          Total
        </td>

        <td class = "td-center">
        </td>
        
        <td class = "td-right"> 
          <%=number_to_currency(@report_info[:total_collections], precision: 2)%>
        </td>
        
        <td class = "td-right"> 
          <%=number_to_currency(@report_info[:total_royalty], precision: 2)%>
        </td>
        
        <td class = "td-right"> 
          <%=number_to_percentage(@report_info[:total_pct], precision: 2)%>
        </td>
  		</tr>
  	</tfoot>
  </table>
</div>
