<%=form_tag url_for(controller: 'payment_review', action: 'index'),
  class: 'form-inline mb-2' do %>
  
  <h3 class="mr-2">
    Year
  </h3>
    
  <%=select_year(@target_year,
    {start_year: Remittance.get_min_year,
     end_year: Remittance.get_max_year,
     :prefix => ""}, 
    html_options = {:class => 'form-control form-control-sm mr-2'})%>
    
    <%=submit_tag "Reload",
      class: 'btn btn-padgett'%>
<%end%>

<div id = "table-scroll"
     class = "table-scroll">
  <table id = "recent-payments-list" class = "table-striped">
    <thead id = "list">
      <tr>
        <!-- Franchise -->
        <th scope = "col" class = "td-left">
            <%=I18n.t('payment.index.franchise')%>
        </th>
        <!-- Entered Date -->
        <th scope = "col" class = "td-left">
            <%=I18n.t('payment.index.posted')%>
        </th>
        <!-- Scheduled -->
        <th scope = "col" class = "td-left">
          <%=I18n.t('payment.index.scheduled')%>
        </th>
        
        <!-- Processed -->
        <th scope = "col" class = "td-left">
            <%=I18n.t('payment.index.processed')%>
        </th>

        <!-- Amount -->
        <th scope = "col" class = "td-right">
            <%=I18n.t('payment.index.amount')%>
        </th>

        <!-- Paid With -->
        <th scope = "col" class = "td-center">
            <%=I18n.t('payment.index.paid_with')%>
        </th>        

        <!-- Status -->
        <th scope = "col" class = "td-center">
            <%=I18n.t('payment.index.status')%>
        </th>        

        <!-- Note -->
        <th scope = "col" class = "td-left">
        </th>        
        
        <!-- Edit / Show -->
        <th scope = "col" class = "td-center">
        </th>        
        
        <!-- Delete -->
        <th scope = "col" class = "td-center">

        </th>        

      </tr>
    </thead>

    <% if @payments.size > 0 %>
      <tbody>    
        <%@payments.each do |payment|%>
          <tr>
            <!-- Franchise -->
            <td data-name = "Franchise"
                scope = "col"
                class = "td-left">
                <%=payment.franchise.number_and_name%>
            </td>

            <!-- Entered Date -->
            <td data-name = "Posted"
                scope = "col"
                class = "td-left">
                <%=I18n.l(payment.date_entered, format: :notime)%>
            </td>

            <!-- Scheduled -->
            <td data-name = "Scheduled"
                scope = "col"
                class = "td-left">
                <%=I18n.l(payment.payment_date, format: :notime)%>
            </td>

            <!-- Processed -->
            <td data-name = "Processed"
                scope = "col"
                class = "td-left">
                <%=I18n.l(payment.date_approved, format: :notime) if payment.date_approved %>
            </td>
            
            <!-- Amount -->
            <td data-name = "Amount" 
                scope = "col"
                class = "td-right">
                <%=number_to_currency(payment.amount, precision: 2)%>
            </td>

            <!-- Paid With -->
            <td data-name = "Paid With" 
                scope = "col"
                class = "td-center">
                <%=paid_with_icon(payment)%>
            </td>

            <!-- Status -->
            <td data-name = "Status" 
                scope = "col"
                class = "td-center">
                <%=payment_status_icon(payment)%>
            </td>

            <!-- Note -->
            <td data-name = "" 
                scope = "col"
                class = "td-left">
                <%=truncate(payment.note, length: 50)%> <%if payment.approved?%>  Ref #<%=payment.reference_id.to_s %>
                <%end%>
            </td>
            
            <!-- Edit Link if User can Edit -->
            
              <%if (payment.pending? || payment.transit?) && (can? :edit, payment) %>
                <td data-name = ""
                  class = "td-center">
                  <%=link_with_icon(edit_polymorphic_path(payment),
                  "edit",
                  I18n.t('payment.index.edit_link'),
                  "",
                  false)%>
                </td>
            <%else%>   
              <td data-name = ""
                  class = "td-center">
                  <%=link_with_icon(polymorphic_path(payment),
                  "show",
                  I18n.t('payment.index.view_link'),
                  "",
                  false)%>
                </td>
            <%end%>
            
            <!-- Delete Link if User can Delete -->
            <%if can? :delete, payment%>
              <td data-name = ""
                  class = "td-center">
                  <%=link_with_icon(polymorphic_path(payment),
                  "delete",
                  I18n.t('payment.index.delete_link'),
                  I18n.t('payment.index.delete_confirm'),false)%>
              </td>
            <%else%>
              <td></td>
            <%end%>

             
          </tr>
        <%end%>
      </tbody>
    <%end%>
    
  </table>
</div>

 <div class ='flickr_pagination'>
    <%= will_paginate @payments, :params=> {:target_year => @target_year} %>
    <br>
    <span class = "page_info">(<%=@payments_count %> payments) </span>
  </div>    