<div class = "row">
	<div class = "col-12">
		<h5 class="text-center">
			<%=@report_info[:title]%>
		</h5>
	</div>
</div>

<div id = "table-royalties" 
  class = "table-scroll"
  style = "height: calc(100vh - 270px)">
  <table id = "main-table">
    <thead id="main-table">
  	  <tr>
  	    <th>
  		    <%=I18n.t('reports.royalty_summary.franchise')%>
 		    </th>

		    <th class = "td-right">
		    	<%=I18n.t('reports.royalty_summary.royalty')%>
		    </th>

		   
		  </tr>
	  </thead>
	  <%if @result.size > 0%>
	    <tbody>
	     
	      <%@result.each do |r|%>
	        <% bold = r[:row_type] == 1 ? "font-weight: bold" : ""%>

	        <tr>
	          <td data-name="Franchise" style="<%=bold%>">
		          <%="#{r[:firstname]} #{r[:lastname]}"%>
		        </td>
		  
		  	    <td class = "td-right" data-name="Royalty" style = "<%=bold%>">
		  	    	
		  	    	<%=number_to_currency(r[:royalties], precision: 2)%>
		  	    </td>
		  	     
				  </tr>
			  <%end%>
			</tbody>
  	 
  	  
    <%end%> 

		<tfoot id="report-footer">
  		<tr>
        <td class = "td-left">   
          Total
        </td>
       
        
        <td class = "td-right"> 
          <%=number_to_currency(@report_info[:tot_roy], precision: 2)%>
        </td>
        
     
  		</tr>
  	</tfoot>
  </table>
</div>
