<div class = "row justify-content-center">
  <div class = "col-12 col-sm-12 col-md-10 col-lg-8">
    <div class = "card">
      <div class = "card-header login-header">
        <h4>Edit User</h4>
      </div>
  
      <%= form_for @user, url: url_for(:controller =>'franchises_users', :action => 'update') do |f| %>
      <div class = "card-body
                    card-background-padgett">
        <div class = "form-row col-12">
          <%=f.hidden_field :franchise_id,
          value: f.object.franchise_id%>
          <!-- Email -->   
          <div class = "form-group form-row col-12">
          <%=f.label :email,
            class: "col-md-3 col-sm-4 col-lg-3
                    col-form-label-sm 
                    label-bold" %>
          <div class = "col-sm-4 col-md-4 col-lg-3">
            <%=f.email_field :email,
              class: 'form-control
                form-control-sm col',
               required: true%>
          </div>
        </div>
      </div>
     
      <div class = "form-row col-12">
        <!-- ROLE -->
        <div class = "form-group form-row col-12">
          <%=f.label :role,
            class: 'col-md-3 col-sm-4 col-lg-3
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-4 col-md-4 col-lg-3">
            <%= f.select(:role, [["Full Control","full_control"], ["Entry and Payment","can_pay" ], ["Data Entry Only", "data_entry"]],{include_blank: false},{
              class: "form-control form-control-sm col"})%>
          </div>   
        </div>
      </div>
    </div>
</div>  

<br>

<div class = "row col-12">
  <%=f.submit "Save User",
    class: 'btn btn-padgett col-4 col-sm-4 col-md-3 col-lg-3',
    name: "submit" %>
  <div class = "col-1 col-sm-1 col-md-1 col-lg-1">
  </div>
  
  <%=link_to "Discard",
    edit_admins_franchise_path(id:@franchise_id),
    class: 'btn btn-padgett col-4 col-sm-4 col-md-3 col-lg-3' %>
</div>

<%end%>  




