<div class = "card">
  <div class = "card-header login-header">
    <%=I18n.t('franchise.form.contact_email')%>
  </div>
  <form>
    <div class = "card-body card-background-padgett">
      <div class = 'form-row col-12'>
        <!-- PHONE -->
        <div class="form-group form-row col-6">
          <label class = "col-sm-6 col-md-4 col-lg-4 col-form-label  label-bold">
            <%=I18n.t('helpers.label.franchise.phone')%>
          </label>
          <div class = "col-sm-5 col-md-5 col-lg-8">
            <div class= 'form-control-plaintext'>
              <%=franchise.phone%>
            </div>
          </div>
        </div>

        <!-- ALT PHONE -->
        <div class="form-group form-row col-6">
          <label class = 'col-sm-6 col-md-4 col-lg-4 col-form-label  label-bold'>
            <%=I18n.t('helpers.label.franchise.phone2')%>
          </label>
          <div class = "col-sm-5 col-md-5 col-lg-8">
            <div class= 'form-control-plaintext'>
              <%=franchise.phone2%>
            </div>
          </div>
        </div>
      </div>

      <div class = 'form-row col-12'>
        <!-- MOBILE -->
        <div class="form-group form-row col-6">
          <label class = "col-sm-6 col-md-4 col-lg-4 col-form-label  label-bold">
            <%=I18n.t('helpers.label.franchise.mobile')%>
          </label>
          <div class = "col-sm-5 col-md-5 col-lg-8">
            <div class= 'form-control-plaintext'>
              <%=franchise.mobile%>
            </div>
          </div>
        </div>

        <!-- FAX-->
        <div class="form-group form-row col-6">
          <label class = 'col-sm-6 col-md-4 col-lg-4 col-form-label  label-bold'>
            <%=I18n.t('helpers.label.franchise.fax')%>
          </label>
          <div class = "col-sm-5 col-md-5 col-lg-8">
            <div class= 'form-control-plaintext'>
              <%=franchise.fax%>
            </div>
          </div>
        </div>
      </div>
      
      <div class = 'form-row col-12'>
        <!-- EMAIL -->
        <div class="form-group form-row col-6">
          <label class = "col-sm-6 col-md-4 col-lg-4 col-form-label  label-bold">
            <%=I18n.t('helpers.label.franchise.email')%>
          </label>
          <div class = "col-sm-5 col-md-5 col-lg-8">
            <div class= 'form-control-plaintext'>
              <%=franchise.email%>
            </div>
          </div>
        </div>

        <!-- ALT EMAIL -->
        <div class="form-group form-row col-6">
          <label class = 'col-sm-6 col-md-4 col-lg-4 col-form-label  label-bold'>
            <%=I18n.t('helpers.label.franchise.alt_email')%>
          </label>
          <div class = "col-sm-5 col-md-5 col-lg-8">
            <div class= 'form-control-plaintext'>
              <%=franchise.alt_email%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div> 

