<div class = "row">
  <div class = "col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class = "card">
      <div class = "card-header login-header">
        <h2>Edit your Profile</h2>
      </div>
      <div class = "card-body">
        <%= form_for(resource, as: resource_name, 
        url: admin_registration_path(),
        html: { method: :put }) do |f| %>
          <%=devise_error_messages!%>

          <div class = "form-group">
            <%= f.label :email, "Email" %><br />
            <%= f.email_field :email, 
            readonly: true,
            class: 'form-control'%>
          </div>

          <div class = "form-group">
            <%= f.label :password %>
            <%if @minimum_password_length%>
              <em>
                <%="(#{@minimum_password_length} characters minimum)"%>
              </em>
            <%end%>
            
            <%=f.password_field :password,
            autocomplete: "new-password",
            autofocus: true,
            class: 'form-control'%>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation,
            "Password confirmation" %><br>
            
            <%= f.password_field :password_confirmation,
            autocomplete: "new-password",
            class: 'form-control' %>
          </div>

          <div class = "form-group">
            <%=f.label :time_zone, 
            "Time Zone"%>
            <br>

            <%=f.time_zone_select :time_zone, 
               nil,
               {default: "Eastern Time (US & Canada)"},
               {class: 'form-control'}%>
          </div>

      </div>    

      <div class = "card-footer">
        <div class="form-group">
          <%= f.label :current_password %>
          <br>
          <em>Enter your current password to save changes</em>
          <br>
          <%= f.password_field :current_password,
            autocomplete: "current-password",
            class: 'form-control' %>
        </div>
      </div>
      
      <div class = "col-4 actions"  >
      <%=f.submit "Save Changes",
      class: "btn btn-padgett"%>
      <br>
      <br>

      </div>


      <%end%>

      </div>
    </div>
  </div>


