<div class = "card">
  <div class = "card-header login-header">
    <h4>
      <%if action == "edit"%>
        <%=I18n.t('credit_card.form.edit_title',
        { card_type: credit_card.card_type_desc,
          last_four: credit_card.last_four})%>
      <%else%>
        <%=I18n.t('credit_card.form.create_title')%>
      <%end%>
    </h4>
  </div>
  
  <%= form_for credit_card do |f| %>
    <div class = "card-body card-background-padgett">
      <div class = "form-row col-12">
        <%=f.hidden_field :franchise_id, value: f.object.franchise_id%>
        <!-- CARD TYPE -->   
        <div class = "form-group form-row col-12">
  	      <%=f.label :cc_type,
  	        class: "col-md-3 col-sm-4 col-lg-3 col-xl-2
                    col-form-label-sm 
                    label-bold" %>

          <%if action == "edit"%>
          <div class = "col-sm-4 col-md-3 col-lg-3">
            <%=f.hidden_field :cc_type, value: f.object.cc_type%>
            <%=content_tag(:i, '', class: credit_card.card_icon+" fa-2x")%>
          </div>
          <%else%>
  	      <div class = "col-sm-4 col-md-3 col-lg-3 col-xl-3">
  		      <%=f.select(:cc_type, [["Visa","V"],["MasterCard","M"], ["American Express","A"],["Discover","I"]],{include_blank: false},
  		        {class: 'form-control form-control-sm col',
               })%>
          </div>
          <%end%>
        </div>
      </div>
     
      <div class = "form-row col-12">
  	    <!-- NAME ON CARD -->
  	    <div class = "form-group form-row col-12">
  	      <%=f.label :cc_name,
            class: 'col-md-3 col-sm-4 col-lg-3 col-xl-2
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-5 col-md-5 col-lg-5 col-xl-4">
      	    <%= f.text_field :cc_name,
      	      class: "form-control form-control-sm col",
              required: true%>
          </div>   
  	    </div>
      </div>

      <div class = "form-row col-12">
  	    <!-- CARD NUMBER -->
  	    <div class = "form-group form-row col-12">
  	      <%=f.label :cc_number, 
            class: 'col-md-3 col-sm-4 col-lg-3 col-xl-2
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-4 col-md-4 col-lg-4 col-xl-4">
      	    <%= f.text_field :cc_number,
              class: "form-control form-control-sm col",
                required: true, maxlength: 16%>
          </div>   
  	    </div>
      </div>

      <div class = "form-row col-12">
        <!-- EXPIRATION -->
        <div class = "form-group form-row col-12">
          <%=f.label :cc_exp_month, 
            class: 'col-md-3 col-sm-4 col-lg-3 col-xl-2
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-2 col-md-2 col-lg-1 col-xl-1">
            <%=f.select(:cc_exp_month, '01'..'12', {},
          html_options ={:class => "form-control form-control-sm text-left col" })%> 
          
          </div>   

          <div class = "col-sm-1 col-md-1 col-lg-1 text-center">
            /
           </div>

          <div class = "col-sm-2 col-md-2 col-lg-1 col-xl-1">
            <%=f.select(:cc_exp_year, @years, {},
          html_options ={:class => "form-control form-control-sm text-left col" })%> 
          
          </div>   
        </div>
      </div>

      <div class = "form-row col-12">
        <!-- ADDRESS -->
        <div class = "form-group form-row col-12">
          <%=f.label :cc_address, 
            class: 'col-md-3 col-sm-4 col-lg-3 col-xl-2
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-6 col-md-6 col-lg-5">
            <%= f.text_field :cc_address,
              class: "form-control form-control-sm col",
                required: true, maxlength: 16%>
          </div>   
        </div>
      </div>

      <div class = "form-row col-12">
        <!-- CITY -->
        <div class = "form-group form-row col-12">
          <%=f.label :cc_city, 
            class: 'col-md-3 col-sm-4 col-lg-3 col-xl-2
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-6 col-md-6 col-lg-5">
            <%= f.text_field :cc_city,
              class: "form-control form-control-sm col",
                required: true, maxlength: 16%>
          </div>   
        </div>
      </div>

      <div class = "form-row col-12">
        <!-- STATE -->
        <div class = "form-group form-row col-12">
          <%=f.label :cc_state, 
            class: 'col-md-3 col-sm-4 col-lg-3 col-xl-2
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-2 col-md-2 col-lg-1 col-xl-1">
            <%= f.text_field :cc_state,
              class: "form-control form-control-sm col",
                required: true, maxlength: 16%>
          </div>   
        </div>
      </div>

      <div class = "form-row col-12">
        <!-- ZIP -->
        <div class = "form-group form-row col-12">
          <%=f.label :cc_zip, 
            class: 'col-md-3 col-sm-4 col-lg-3 col-xl-2
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-3 col-md-3 col-lg-3 col-xl-2">
            <%= f.text_field :cc_zip,
              class: "form-control form-control-sm col",
                required: true, maxlength: 16%>
          </div>   
        </div>
      </div>


    </div>

</div>  

<br>

<div class = "row col-12">
  <%=f.submit (I18n.t('bank_account.form.save')),
    class: 'btn btn-padgett col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2',
    name: "submit" %>
  <div class = "col-1 col-sm-1 col-md-1 col-lg-1">
  </div>
  
  <%=link_to (I18n.t('bank_account.form.discard')),
    bank_accounts_path,
    class: 'btn btn-padgett col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2
      ' %>
</div>

  <%end%>  


