<form>

	<%label_classes = "col-md-8 col-sm-8 col-lg-7 col-xl-7 col-form-label-sm label-bold"%>
  <%field_classes = "form-control-plaintext text-right col-xl-4 col-lg-4 col-md-4 col-sm-4"%>

  <%mid = (Financial::REVENUE_ATTRIBUTES.length >> 1) - 1%>

	<div class = "card-body card-background-padgett">
		<div class = "row">
			<div class = "container-fluid 
			  col-sm-6 no-gutters">
				<div class = "form-row col-12">
					<%Financial::REVENUE_ATTRIBUTES[0..mid].each do |attrib| %>

					  <div class = "form-group form-row 
					  col-sm-12">
						  <label class = '<%="#{label_classes}"%>'> 
	  			      <%= I18n.t('helpers.label.financial.'+attrib)%> 
	  			    </label>
	  			  
	  			    <div class = '<%="#{field_classes}"%>'>
	  			  	  <%= number_with_precision(financial.send(attrib), precision: 2)%>
				      </div>
				    </div>
				  <%end%>
				</div>
			</div>

			<div class = "container-fluid col-sm-6 
			  no-gutters">
				<div class = "form-row col-12">
					<%Financial::REVENUE_ATTRIBUTES[mid+1..].each do |attrib| %>

					<div class = "form-group form-row col-sm-12">
						<label class = '<%="#{label_classes}"%>'> 
	  			      <%= I18n.t('helpers.label.financial.'+attrib)%> 
	  			  </label>
	  			      
	  			  

	  			    <div class = '<%="#{field_classes}"%>'>
	  			  	  <%= number_with_precision(financial.send(attrib), precision: 2)%>
				      </div>
				    </div>
				  <%end%>

				  <div class = "form-group form-row col-sm-12">
						<label class = '<%="#{label_classes}"%>'> 
	  			      <%=I18n.t('helpers.label.financial.total_revenues')%> 
	  			  </label>
					

	  			  <div class = '<%="#{field_classes}"%>'>
	  			  	  <%= number_with_precision(financial.total_revenues, precision: 2)%>
				    </div>
				  </div>
				</div>
			</div>
  	</div>
  
  </div>
</form>