
<!--FORM TO SELECT CURRENT PERIOD -->
<%=form_tag url_for(controller: 'remittances', action: 'new'),
  class: 'form-inline mb-2' do %>

  <h3 class="mr-2">
    <%=I18n.t('remittance.index.add_for')%>
  </h3>
  
  <%=select_year( @year,
    options={:field_name => 'target_year',
    :prefix =>""},
    html_options = {:class =>'form-control form-control-sm mr-2'}) %>
  
  <%=select_month(@month,
    options={:field_name => 'target_month',
    :prefix =>""},
    html_options = {:class =>'form-control form-control-sm mr-2'}) %>
  
  <%=submit_tag (I18n.t('remittance.index.continue')),
  class: 'btn btn-padgett my-1'%>
<%end%>

<div class = "row pb-5">
  <div class = "col-12">
	  <h2 class="padgett-text">
		  Pending royalties
	  </h2>
  </div>

  <div id = "pending-remittances" class = "col pb-2">
	  <%=render partial: 'remittances_list', 
	  locals: {remittances: @pending, type: 'pending'}%>
  </div>
</div>

<div class = "row">
  <div class = "col-12">
	  <h2 class="padgett-text">
		  Posted royalties
	  </h2>
  </div>
  <br>
  
  <div id = "posted-remittances" class = "col">
		<%=render partial: 'remittances_list', 
		locals: {remittances: @posted, type: 'posted'}%>
  </div>
</div>