<div class = "row">
  <div class = "col-12">
    <div class = "card">
      <div class = "card-header login-header" style="display:inline">
        <h3 class = "float-left">
          <%=I18n.t('remittance.show.title', franchise: @remittance.franchise.full_denomination, period: "(#{Date::MONTHNAMES[@remittance.month]} / #{@remittance.year})")%>
        </h3>
        <%= link_to (I18n.t('remittance.show.return_btn')), admins_remittances_path, class: "btn btn-light float-right"%>
      </div>
    </div>
    <!--REPORT INFORMATION -->
    <div class = "card">
      <div class = "card-header card-background-padgett">
        <h4 class="card-title">
          <%=I18n.t('remittance.show.report_info')%>
        </h4>
      </div>
      <div class="card-body">
        <%= render :partial => 'shared/remittances/show/report_info',
        :locals => {:remittance => @remittance} %>
      </div>
    </div>
    <br>
    <!--COLLECTIONS -->
    <div class = "card">
      <div class = "card-header card-background-padgett">
        <h4 class="card-title">
          <%=I18n.t('remittance.show.collections')%>
        </h4>
      </div>
      <div class="card-body">
        <%= render :partial => 'shared/remittances/show/collections',
        :locals => {:remittance => @remittance} %> 
      </div>
    </div>
    <br>
    <!--CREDITS -->
    <div class = "card">
      <div class = "card-header card-background-padgett">
        <h4 class="card-title">
          <%=I18n.t('remittance.show.credits')%>
        </h4>
      </div>
      <div class="card-body">
        <%= render :partial => 'shared/remittances/show/credits',
        :locals => {:remittance => @remittance} %>
      </div>
    </div>
    <br>
    <!--TOTAL DUE, LATE FEES ETC -->
    <div class = "card">
      <div class = "card-header card-background-padgett">
        <h4 class="card-title">
          <%=I18n.t('remittance.show.summary')%>
        </h4>
      </div>
      <div class="card-body">
        <%= render :partial => 'shared/remittances/show/footer',
        :locals => {:remittance => @remittance} %>
      </div>
    </div>
  </div>
</div>  
  


