<h2 class = "padgett-text float-left">
  <%=I18n.t('audit.title',
  resource_name: resource_name )%>
</h2>
<%=link_to I18n.t('reports.general.btn_return'),
'javascript:history.back()',{
class: 'float-right btn btn-padgett',
data: {turbolinks: false}} %>

<div id = "table-scroll" class = "table-scroll">
  <table id = "audits-list" 
    class="table-striped">
  <thead id = "list">
  	<tr>
      <!-- Type  -->
      <th class = "td-left" scope = "col">
       <%=I18n.t('audit.type')%>
      </th>
      <!-- When  -->
      <th scope = "col" class = "td-left">
        <%=I18n.t('audit.when')%>
      </th>
      <!-- Who  -->
      <th scope = "col" 
          class = "td-left">
        <%=I18n.t('audit.who')%>
      </th>
      <!-- Changes  -->
      <th scope = "col" class="td-left">
        <%=I18n.t('audit.changes')%>
      </th>
    </tr>
  </thead>
  <tbody>
  <%@audits.includes(:user).each do |audit| %>
  	<tr>
  	  <td data-name = "Type"
          scope = "col"
          class = "td-left">
  	  	<%=audit.action.capitalize%>
  	  </td>	
  	  <td data-name = "When" 
          scope = "col"
          class = "td-left">
  	  	<%= I18n.l audit.created_at.in_time_zone,
        format: :prp %>
  	  </td>
  	  <td data-name = "Who"
          scope = "col"
          class = "td-left">
  	  	<%=audit.user.try(:email) || "System" %>
  	  </td>
  	  <td data-name = "Changes"
          scope = "col"
          class = "td-left">
          <%=format_audited_events(audit)%>
  	  	
  	  </td>
  	</tr>

  <%end%>

  </tbody>
</table>

