<h2 class = "padgett-text">
  <%=I18n.t('audit.title', resource_name: resource_name )%>
</h2>

<table id = "audits-list" 
       class="table table-sm table-striped table-dan">
  <thead>
  	<tr>
      <!-- Type  -->
      <th width="10%" scope = "col" 
          style="text-align:left">
       <%=I18n.t('audit.type')%>
      </th>
      <!-- When  -->
      <th width="15%" scope = "col" 
          style="text-align:left">
        <%=I18n.t('audit.when')%>
      </th>
      <!-- Status (Compliant / Non Compliant, Terminated )  -->
      <th width="20% "scope = "col" 
          style = "text-align:left">
        <%=I18n.t('audit.who')%>
      </th>
      <!-- Region  -->
      <th width="55%" scope = "col" 
          style="text-align:left">
        <%=I18n.t('audit.changes')%>
      </th>
    </tr>
  </thead>
  <tbody>
  <%@audits.each do |audit| %>
  	<tr>
  	  <td width = "10%" align="left">
  	  	<%=audit.action.capitalize%>
  	  </td>	
  	  <td width="15%">
  	  	<%= I18n.l audit.created_at.in_time_zone, format: :prp %>
  	  </td>
  	  <td width="20%">
  	  	<%=audit.user.email%>
  	  </td>
  	  <td width = "55%">
  	  	<%audit.audited_changes.each do |key,val|%>
  	  	  <strong><%=key.titleize%></strong> <%=I18n.t('audit.was_changed')%>
  	  	  <%if val.class == Array%>
  	  	    <%=I18n.t('audit.from_to', former_value: val[0], new_value: val[1])%>
  	  	  <%else%>
  	  	  <%= val %>
  	  	  <%end%>
  	  	  <br>
  	  	<%end%>

  	  </td>
  	</tr>

  <%end%>

  </tbody>
</table>

