<ul class="navbar-nav ml-auto">
  <!-- If User is Logged In, we show the Sign Out button -->
  <% if signed_in? %>
    <!-- If Franchise, we show the Franchise Sign Out button -->
    <% if current_user %>
      <li class="navbar-text" style = "padding-right: 10px">
        User: <%=current_user.email %>
      </li>
      <%= link_to "Sign Out", destroy_user_session_path,
      method: :delete, class: 'btn btn-padgett navbar-btn' %>
      
    <% else %>
      <!-- If Admin, we show the Admin Sign Out button -->
      <li class="navbar-text" style = "padding-right: 10px">
        User: <%=current_admin.email %>  
      </li>
      <%= link_to "Sign Out", destroy_admin_session_path,
      method: :delete, class: 'btn btn-padgett navbar-btn' %>
    <%end%>
  <% else %>
    <!-- If no one is logged in, show the admin login button -->
    <%= link_to "Admin", new_admin_session_path, class: 'btn btn-padgett navbar-btn', method: :get %>
  <%end%>
</ul>