<ul class="navbar-nav ml-auto">
  <!-- If User ogged In, show the Sign Out button -->
  <% if signed_in? %>
    <!-- If Franchise, show Sign Out button -->
    <% if current_user %>
      <li class="navbar-text" 
          style = "padding-right: 10px">
        <%=I18n.t :menu_user%>: <%=current_user.email %>
      </li>
      <%= link_to (I18n.t :signout_text),
        destroy_user_session_path,
        method: :delete,
        class: 'btn btn-padgett navbar-btn' %>
    <% else %>
      <!-- If Admin, show the Admin Sign Out button -->
      <li class="navbar-text" 
          style = "padding-right: 10px">
        <%=I18n.t :menu_user%>: <%=current_admin.email %>  
      </li>
      
      <%= link_to (I18n.t :signout_text), 
      destroy_admin_session_path,
      method: :delete,
      id: "admin-logout",
      class: 'btn btn-padgett navbar-btn' %>
    
    <%end%>
  <% else %>
    <!-- If no one logged in, show admin login btn -->
    <%= link_to (I18n.t :admin_button), 
      new_admin_session_path,
      method: :get,
      class: 'btn btn-padgett navbar-btn nav-item'%>
  <%end%>
</ul>