  
  <%show_pdf = true if local_assigns[:show_pdf].nil?%>
  <%show_excel = true if local_assigns[:show_excel].nil?%>

  <div class = "row justify-content-end">
   <div class = "col-4 col-sm-3 col-md-2 col-lg-2">
    <%=link_to I18n.t('reports.general.btn_return'), 'javascript:history.back()', :class=> 'btn btn-padgett btn-block'%>
   </div>
  
   
   <div class = "col-4 col-sm-3 col-md-3 col-lg-2">
    <%if show_pdf%>
    <%= link_to request.parameters.merge(format: 'pdf'), :method => :post do %>
      <button class = "btn  btn-block btn-danger float-right"><i class = 'far fa-file-pdf'> </i> <%=I18n.t('reports.general.pdf')%> <span class="button-text"><%=I18n.t('reports.general.format')%></span></button>
      <%end%>
      <%end%>
  </div>
   
   <div class = "col-4 col-sm-3 col-md-3 col-lg-2">
    <%if show_excel%>
   <%= link_to request.parameters.merge(format: 'xlsx'), :method => :post do %>
    <button class = 'btn btn-block btn-success float-right'><i class="far fa-file-excel"></i> <%=I18n.t('reports.general.excel')%> <span class="button-text"><%=I18n.t('reports.general.format')%></span></button>
   <%end%>
   <%end%>
  </div>
</div>
<hr>

