<h2>A Bank Transaction with reference ID <%=@d[:reference_id] %> returned an error. Below is the detail of this Bank Payment</h2>
<br>
<table width = "100%" 
       class="table table-striped pretty">
  <thead>
    <tr>
      <th style="text-align:left">Date</th>
      <th style="text-align:left">PRP ID</th>
      <th style="text-align:left">Gulf ID</th>
      <th style="text-align:left">Trans Type</th>
      <th style="text-align:right">Amount</th>
      <th style="text-align:left">State</th>
      <th style="text-align:left">Reason</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align = "left">
        <%=l @d[:date_of_transaction]%>
      </td>
      
      <td align="left">
        <%=@d[:transaction_id]%>
      </td>

      <td align = "left">
        <%=@d[:reference_id]%>
      </td>
              
      <td align = "left">
        <%=@d[:transaction_type]%>
      </td>
                  
      <td align = "right">
        <%=number_to_currency(@d[:transaction_amount])%>
      </td>
    
      <td align = "left">
        <%=@d[:transaction_state]%>
      </td>
      
      <td align = "left">
        <%=@d[:state_reason]%>
      </td>
    </tr>
  </tbody>  
</table>


