<div class = "card">
  <div class = "card-header login-header">
    <h4>
      <%if action == "edit"%>
        <%=I18n.t('charge.form.charge_title')%>
      <%else%>
        <%=I18n.t('charge.form.create_title')%> 
      <%end%>
    </h4>
  </div>
  
  <%=form_for [:admins, charge], 
     url:(charge.new_record? ? admins_charges_path : admins_charge_path(charge)) do |f| %>
    <div class = "card-body card-background-padgett">
    	<%=f.hidden_field :franchise_id,
    	   value: f.object.franchise_id	%>
      <%=f.hidden_field :trans_type, value: f.object.trans_type%>   
      
      <div class = "form-row col-12">
        <div class = "form-group form-row col-12">
          <%=f.label :franchise_id, "Franchise",
          class: "col-md-2 col-sm-3 col-lg-2 col-xl-2 
                  col-form-label col-form-label-sm
                  label-bold"%>
          <div class = "col-8 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <%=Franchise.number_and_name(charge.franchise_id)%>
          </div>
        </div>        
      </div>
      
      
      <!-- Date -->
      <div class = "form-row col-12">
        <div class = "form-group form-row col-12">
          <%=f.label :date_posted,
          class: "col-md-2 col-sm-3 col-lg-2 col-xl-2 
                  col-form-label col-form-label-sm
                  label-bold"%>
          <div class = "col-sm-4 col-md-3 col-lg-3 col-xl-2">
            <%=f.text_field :date_posted, 
            value: (I18n.l(f.object.date_posted, format: :notime) if f.object.date_posted),
            class: "form-control form-control-sm
                    col text-center", 
                    id: "prp_transaction_date_posted",
                    style: "display:inline-block;
                    vertical-align: middle;
                    width: 60%; margin: 0 5px 0 0;" %>
          </div>
        </div>
      </div>

      
        <div class = "form-row col-12">
          <div class = "form-group form-row col-12">
            <%=f.label :trans_code,
            class: "col-md-2 col-sm-3 col-lg-2 col-xl-2  
                  col-form-label col-form-label-sm
                  label-bold"%>
            <div class = "col-sm-8 col-md-5 col-lg-4 col-xl-3">
              <%=f.collection_select(:trans_code, TransactionCode.charges_only, :code, :description, {prompt: "Select a Code"},{class: "form-control form-control-sm col"}) %>
            </div>
          </div>
        </div>
     
      
      	
        <div class = "form-row col-12">
          <div class = "form-group form-row col-12">
            <%=f.label :trans_description,
            class: "col-md-2 col-sm-3 col-lg-2 
                  col-form-label col-form-label-sm
                  label-bold"%>
            <div class = "col-sm-8 col-md-8 col-lg-6 col-xl-6">
              <%=f.text_field :trans_description,class: "form-control form-control-sm col" %>
            </div>
          </div>
        </div>

        <div class = "form-row col-12">
          <div class = "form-group form-row col-12">
            <%=f.label :amount,
            class: "col-md-2 col-sm-3 col-lg-2 
                  col-form-label col-form-label-sm
                  label-bold"%>
            <div class = "col-sm-3 col-md-3 col-lg-2 col-xl-2">
              <%=f.number_field :amount, step: "any", class: "form-control form-control-sm col text-right",
              value: (number_with_precision(f.object.amount, precision: 2)) %>
            </div>
          </div>
        </div>
     
      
    </div>
</div>
<br />
  <div class = "row col-12 col-xl-10">
    <%=f.submit (I18n.t('charge.form.save')),
    class: 'btn btn-padgett col-5 col-sm-4 col-md-3 col-lg-3 col-xl-2',
	  name: "submit"%>
    <div class = "col-1 sol-sm-1 col-md-1 col-lg-1"></div>
      <%=link_to (I18n.t('charge.form.discard')),
      admins_charges_path,
      class: 'btn btn-padgett col-5 col-sm-4 col-md-3 col-lg-3 col-xl-2' %>
    </div>
  </div>
<%end%>