<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table id = "franchise-list" class="table table-sm table-striped table-dan ">
  <thead>
    <tr>
      <!-- Franchise  -->
      <th width="10%" scope = "col" style="text-align:left">
        <%=sortable "franchise", "Franchise" %>
      </th>
      <!-- Lastname  -->
      <th width="40%" scope = "col" style="text-align:left">
        <%=sortable "lastname" , "Name" %>
      </th>
      <!-- Status (Compliant / Non Compliant, Terminated )  -->
      <th width="20% "scope = "col" style = "text-align:center">
        Status
      </th>
      <!-- Region  -->
      <th width="15%" scope = "col" style="text-align:center">
        Region
      </th>
        

        <!-- For Edit link we have 2 other columns  -->
        <th width="5%" scope = "col"></th>
        <th width="5%" scope = "col"></th>
        <th width="5%" scope = "col"></th>
    </tr>
  </thead>
  <!-- Go through our filtered franchises  -->
  <% @franchises.each do |franchise| %>
    <tr>
      <!-- Franchise  -->
      <th width="10%" scope="row" align="left" class = "text-nowrap">
        <%=franchise.franchise_number %> 
      </td>
      <!-- Lastname  -->
      <td width="40%" align="left" class = "text-nowrap">
        <%=franchise.full_name%> 
      </td>
      <!-- Status, calls a helper to display proper icons  -->
      <td width="20%" align="center" class = "text-nowrap">
        <%=franchise_status(franchise)%>
      </td>
      <!-- Region description  -->
      <td width="20%" align="center" class = "text-nowrap">
        <%=region_desc(franchise.region)%> 
      </td>

      
        <!-- Edit Icon and Link  -->
        <%if can? :edit, franchise%>
          <td width="5%" class = "text-nowrap">
            <%=link_with_icon(edit_admins_franchise_path(id:franchise),
              "edit",
              "Edit this franchise",
              "",
              false)%> 
          </td>
        <%else%>
          <td width="5%"></td>
          <%end%>
        <!-- View Icon and Link  -->
        <td width="5%" class = "text-nowrap">
          <%=link_with_icon(
            admins_franchise_path(id:franchise),
            "show",
            "View this Franchise")%>
        </td>
        
        <td width = "5%" class = "text-nowrap">
          <%if franchise.audits.size > 0%>
            <%=link_with_icon(
            admins_audit_path(id:franchise),
            "audit",
            "View Audit Trail")%>
          <%end%>    
        </td>
      
    </tr>
  <% end %>
</table>

<!-- Pagination Links  -->
<div class = "row justify-content-center">
  <div class = "flickr_pagination">
    <%= will_paginate @franchises %>
  </div>
</div>


