<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div id = "table-scroll"
     class = "table-scroll">

  <table id = "franchise-list" 
         class="table-striped">
    <thead id="list">
      <tr>
        <!-- Franchise  -->
        <th scope = "col" 
            class = "td-left">
          <%=sortable "franchise",
          (I18n.t('franchise.index.franchise')) %>
        </th>
        
        <!-- Lastname  -->
        <th  scope = "col" class = "td-left">
          <%=sortable "lastname" ,
          (I18n.t('franchise.index.name')) %>
        </th>
        
        <!-- Status (Compliant / Non Compliant, Terminated )  -->
        <th scope = "col" class = "td-center">
          <%=I18n.t('franchise.index.status')%>
        </th>
      
        <!-- Region  -->
        <th scope = "col" class = "td-center">
          <%=I18n.t('franchise.index.region')%>
        </th>
      
        <!-- For links we have 3 other columns  -->
        <th  scope = "col" ></th>
        <th  scope = "col"></th>
        <th  scope = "col"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Go through our filtered franchises  -->
      <% @franchises.each do |franchise| %>
        <tr>
          <!-- Franchise  -->
          <td data-name = "Franchise" 
              scope = "col" 
              class = "td-left">
            <%=franchise.franchise_number %> 
          </td>
          
          <!-- Lastname  -->
          <td data-name="Name"
              scope="col" 
              class = "td-left">
            <%=franchise.full_name%> 
          </td>
          
          <!-- Status, calls a helper to display proper icons  -->
          <td data-name="Status" 
              scope = "col" 
              class = "td-center">
            <%=franchise_status(franchise)%>
          </td>
        
          <!-- Region description  -->
          <td data-name="Region" 
              scope = "col" 
              class = "td-center">
            <%=region_desc(franchise.region)%> 
          </td>

          <!-- Edit Icon and Link  -->
          <%if can? :edit, franchise%>
            <td data-name="" class = "td-center">
              <%=link_with_icon(edit_admins_franchise_path(id:franchise),
                "edit",
                (I18n.t('franchise.index.edit_link')),
                "",
                false)%> 
            </td>
          <%else%>
            <td data-name="" class = "td-center"></td>
          <%end%>
          
          <!-- View Icon and Link  -->
          <td data-name="" class = "td-center">
            <%=link_with_icon(
            admins_franchise_path(id:franchise),
            "show",
            I18n.t('franchise.index.view_link'))%>
          </td>
        
          <td data-name="" class = "td-center">
            <%if franchise.audits.size > 0%>
              <%=link_with_icon(
              admins_audit_path(id:franchise),
              "audit",
              I18n.t('franchise.index.audit_link'))%>
            <%end%>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Pagination Links  -->
<div class = "row justify-content-center">
  <div class = "flickr_pagination">
    <%= will_paginate @franchises,
    pervious_label: I18n.t('pagination.prev'),
    next_label: I18n.t('pagination.next') %>
  </div>
</div>


