
<!-- If we're looking to edit, we show the create button -->
<div class = "col-12">
  <%=link_to new_admins_franchise_path,
  data: {turbolinks: false} do%>
    <button class = 'btn btn-padgett'>
      <%=I18n.t('franchise.index.create_franchise')%>
    </button>
  <%end%>
</div>

<!-- Form that filters through the franchise list -->
<%= form_tag admins_franchises_path, 
    :method => 'get',
    :id => "franchise_search",
    class: 'pt-2 pb-2'  do %>
  <div class = "form-row">
    <div class = "form-group col-6">
      <div class = "col-sm-12 col-md-10 col-lg-10">
        <%= text_field_tag :search,
        params[:search],
        class:'form-control input-sm',
        placeholder: (I18n.t('franchise.index.search_by_name'))%>
      </div>
    </div>   
    <div class = "form-group col-6">
      <div class = "col-sm-8 col-md-8 col-lg-8 checkbox checbox-switch switch-primary">
       <label>
          <input type="checkbox" name="show_inactives" value="1" />
          <span></span>
          Show Inactives
        </label>
      </div>
    </div>   
  </div>
<% end %>

<!-- Franchise list -->
<div class = "col-12">
  <div id="franchises">
    <%=render partial: 'franchise_list' %>
  </div>
</div>