<div class = "row">
  <div class = "col-12">
    <div class = "card">
      <div class = "card-header login-header" style="display:inline">
        <h3 class = "float-left">
          <%=I18n.t('franchise.show.title', franchise_name: @franchise.full_denomination)%>
        </h3>
        <%= link_to (I18n.t('franchise.show.return_btn')), admins_franchises_path, class: "btn btn-light float-right"%>
      </div>
    </div>
    <!--FRANCHISE INFORMATION -->
    <div class = "card-group accordion-padgett" id="accordion" role="tablist" 
         aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab" 
          id="headingFran">
          <h4 class="card-title">
            <h3 class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFran" aria-expanded="true" aria-controls="collapseFran">
              <%=I18n.t('franchise.show.franchise_info')%>
            </h3>
          </h4>
        </div>
        <div id="collapseFran" class="collapse" role="tabpanel" aria-labelledby="headingFran">
          <div class="card-body">
            <%= render :partial => 'admins/franchises/show/fran_details', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>
    <!--ACCOUNTANT INFORMATIONN -->
    <div class = "card-group accordion-padgett" id="accordion" role="tablist" 
         aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab"
          id="headingAcct">
          <h4 class="card-title">
            <h3 class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAcct" aria-expanded="true" aria-controls="collapseAcct">
              <%=I18n.t('franchise.show.accountants')%>
            </h3>
          </h4>
        </div>
        <div id="collapseAcct" class="collapse" role="tabpanel" 
          aria-labelledby="headingAcct">
          <div class="card-body">
            <%= render :partial => 'admins/franchises/show/accountant_details', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
  


