<div class = "row justify-content-center">
  <div class = "col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
    <div class = "card">
      <div class = "card-header login-header" style = "display:inline">
        <h3 class = "float-left">
          Credit Information
        </h3>
      </div>

      <div class = "card-body">
        <form>
      
          <!-- Date -->
          <div class = "form-group form-row col-12">
            <label class = "col-md-4 col-sm-4 col-lg-4 col-xl-3 col-form-label-sm label-bold">
              Date
            </label>
            <div class = "form-control-plaintext col-8">
              <%=(I18n.l(@credit.date_posted, format: :notime) if @credit.date_posted)%>
            </div>
          </div>
      
          <div class = "form-group form-row col-12">
            <label class = "col-md-4 col-sm-4 col-lg-4 col-xl-3 col-form-label-sm label-bold">
              Code
            </label>
            <div class = "form-control-plaintext col-8">
              <%=TransactionCode.description_from_code(@credit.trans_code) %>
            </div>
      
          </div>
     
      
      	
          <div class = "form-group form-row col-12">
              <label class = "col-md-4 col-sm-4 col-lg-4 col-xl-3 col-form-label-sm label-bold">
                Note
              </label>
              <div class = "form-control-plaintext col-8">
                <%= @credit.trans_description%>
              </div>
          
          </div>

          <div class = "form-group form-row col-12">
              <label class = "col-md-4 col-sm-4 col-lg-4 col-xl-3 col-form-label-sm label-bold">
                Amount
              </label>
              <div class = "form-control-plaintext col-8">
                <%= number_with_precision(@credit.amount, precision: 2)%>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
<div class = "row justify-content-center">
  
  <div class = "col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
    <%=link_to "Back", :back, class: "btn btn-padgett col-md-3 col-lg-3 col-xl-2"%>
  </div>

</div>  
