<div class = "row justify-content-center">
<div class = "col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
  <h2><%= I18n.t :cookie_policy%></h2>
  <p><b><%=I18n.t :policy_updated%></b></p>
  <p style="text-align:justify"><%=I18n.t :paragraph1%></p>
  <p style="text-align:justify"><%=I18n.t :paragraph2%></p>
  <br />
  <h4><%=I18n.t :what_are_cookies %></h4>
  <p style="text-align:justify"><%=I18n.t :paragraph3%></p>
  <p style="text-align:justify"><%=I18n.t :paragraph4%></p>
  <br />
  <h4><%=I18n.t :why_we_use_cookies %></h4>
  <p style="text-align:justify"><%=I18n.t :paragraph5%></p>
  <p style="text-align:justify"><%=I18n.t :paragraph6%></p>
  <br />
  <h4><%=I18n.t :how_control_cookies %></h4>
  <p style="text-align:justify"><%=I18n.t :paragraph7%></p>
  <p style="text-align:justify"><%=I18n.t :paragraph8%></p>
  <br />
  <h3><%=I18n.t :essential_cookies %></h3>
  <p style="text-align:justify"><%=I18n.t :paragraph9%></p>

  <div class = "card">
    <div class = "card-body">
	    <div class = "row">
        <div class = "col-md-3 col-sm-3 col-lg-3">
          <p><b><%=I18n.t :cookie_name%></b></p>
        </div>
        <div class = "col-md-9 col-sm-9 col-lg-9">
          <p>_reap_session</p>
        </div>
        <div class = "col-md-3 col-sm-3 col-lg-3">
          <p><b><%=I18n.t :cookie_purpose%></b></p>
        </div>
      <div class = "col-md-9 col-sm-9 col-lg-9">
        <p><%=I18n.t :cookie_purpose_text%></p>
      </div>
      <div class = "col-md-3 col-sm-3 col-lg-3">
        <p><b><%=I18n.t :cookie_provider%></b></p>
      </div>
      <div class = "col-md-9 col-sm-9 col-lg-9">
        <p>padgettportal.com</p>
      </div>
      <div class = "col-md-3 col-sm-3 col-lg-3">
        <p><b><%=I18n.t :cookie_service%></b></p>
      </div>
      <div class = "col-md-9 col-sm-9 col-lg-9">
        <p>Padgett Business Services</p>
      </div>
      <div class = "col-md-3 col-sm-3 col-lg-3">
        <p><b><%=I18n.t :cookie_country%></b></p>
      </div>
      <div class = "col-md-9 col-sm-9 col-lg-9">
        <p>United States</p>
      </div>
      <div class = "col-md-3 col-sm-3 col-lg-3">
        <p><b><%=I18n.t :cookie_type%></b></p>
      </div>
      <div class = "col-md-9 col-sm-9 col-lg-9">
        <p><%=I18n.t :cookie_type_text%></p>
      </div>
      <div class = "col-md-3 col-sm-3 col-lg-3">
        <p><b><%=I18n.t :cookie_expire%></b></p>
      </div>
      <div class = "col-md-9 col-sm-9 col-lg-9">
        <p><%=I18n.t :cookie_expire_text%></p>
      </div>
    </div>
  </div>
  </div>
  <br />
  <h3><%=I18n.t :other_tracking_cookies %></h3>
  <p style="text-align:justify"><%=I18n.t :paragraph10%></p>
  <p style="text-align:justify"><b><%=I18n.t :paragraph11%></b></p>
  <br />
  <h3><%=I18n.t :other_flash_cookies %></h3>
  <p style="text-align:justify"><%=I18n.t :paragraph12%></p>
  <p style="text-align:justify"><b><%=I18n.t :paragraph13%></b></p>
  <br />
  <h3><%=I18n.t :targeted_advertising %></h3>
  <p style="text-align:justify"><%=I18n.t :paragraph14%></p>
  <p style="text-align:justify"><b><%=I18n.t :paragraph15%></b></p>
  <br />
  <h3><%=I18n.t :update_policy %></h3>
  <p style="text-align:justify"><%=I18n.t :paragraph16%></p>
  <p style="text-align:justify"><b><%=I18n.t :paragraph17%></b></p>
  <br />
  <h3><%=I18n.t :more_info %></h3>
  <p style="text-align:justify"><%=I18n.t :paragraph18%></p>
  <br>
  <p style="text-align:justify">
    <b><%=I18n.t :cookies_address_name%></b>
  </p>
  <p style="text-align:justify">
    <b><%=I18n.t :cookies_address_street%></b>
  </p>
  <p style="text-align:justify">
    <b><%=I18n.t :cookies_address_city%></b>
  </p>
  <p style="text-align:justify">
    <b><%=I18n.t :cookies_address_state%></b>
  </p>
  <p style="text-align:justify">
    <b><%=I18n.t :cookies_address_zip%></b>
  </p>
</div>
</div>
<br />
<br />
<br />