<div class = "col-12">
<div class = "card">
	<div class = "card-header login-header">
	  <h4>
	  	<%=I18n.t('reports.trans_detail.index_title')%>
   	</h4>
	</div>

	<%=form_tag admins_transaction_detail_render_path(format: :html),
	method: "post" do |f|%>

	<div class = "card-body card-background-padgett">
		<div class = "form-row">
		  	<%=date_argument(
		  		"Start Date",
		  		"start_date",
		  		"form-group form-row col-12",
		  		"col-form-label col-form-label-sm label-bold col-sm-2 col-md-2
		  		 col-lg-1 col-xl-1",
		  		"col-6 col-sm-4 col-md-3
				 col-lg-2")
				 %>
		</div>
		<div class = "form-row">
		  	<%=date_argument(
		  		"End Date",
		  		"end_date",
		  		"form-group form-row col-12",
		  		"col-form-label col-form-label-sm label-bold col-sm-2 col-md-2
		  		 col-lg-1 col-xl-",
		  		"col-6 col-sm-4 col-md-3
				 col-lg-2")
				 %>
		</div>
		<div class = "form-row">
			<%=select_trans_code_dropdown(
				"trans_code",
				"form-group form-row col-12",
				"col-form-label col-form-label-sm label-bold
				 col-sm-2 col-md-2 col-lg-1 col-xl-1",
				"col-sm-6 col-md-5
				 col-lg-4 col-xl-3"
			  )%>
		</div>

		<div class = "form-row">
			<%=select_franchise_dropdown(
				"franchise",
				"form-group form-row col-12",
				"col-form-label col-form-label-sm label-bold
				 col-sm-2 col-md-2 col-lg-1 col-xl-1",
				"col-sm-6 col-md-5
				 col-lg-4 col-xl-3",
				 true
				)%>
		</div>
		

	</div>

	<div class = "card-footer">
		<div class = "col-6 col-sm-3 col-md-2 
		              col-lg-3 col-xl-1 pl-0">
			<%=submit_tag (I18n.t('reports.general.btn_generate')),
			class: "btn btn-padgett btn-block"%>
		</div> 
	</div>
	<%end%>
</div>

</div>