<ul class="navbar-nav mr-auto">
  <!-- FRANCHISE MENU DROPDOWN-->    
  <li class="nav-item dropdown">
    <a href ="#" class="nav-link dropdown-toggle" 
       data-toggle="dropdown" 
       role="button" aria-haspopup = "true" 
       aria-expanded = "false">
      <%= I18n.t('admin_menu.franchise.franchises')%>
    </a>
    <ul class = "dropdown-menu multi-level" 
      aria-labelledby="navbarDropdownFranchiseLink">
      <!-- FRANCHISES-->  
      <li>
        <%= link_to I18n.t('admin_menu.franchise.franchises'),
          admins_franchises_path,
        class: "dropdown-item" %>
      </li>
      <!-- ACCOUNTANTS-->  
      <li>
        <%= link_to I18n.t('admin_menu.franchise.accountants') , admins_accountants_path,
        class: "dropdown-item" %>
      </li>
      <!-- INSURANCE-->  
      <li>
        <%= link_to I18n.t('admin_menu.franchise.insurance') , admins_insurances_path,
        class: "dropdown-item" %>
      </li>
      <!-- FINANCIALS-->  
      <li>
        <%= link_to I18n.t('admin_menu.franchise.financials') ,
        admins_financials_path,
        class: "dropdown-item" %>
      </li>
      <!-- DOCUMENTS-->  
      <li>
        <%= link_to I18n.t('admin_menu.franchise.documents') ,
        admins_franchise_documents_path,
        class: "dropdown-item" %>
      </li>
      <!-- WEBSITE PREFERENCE-->  
      <li>
        <%= link_to I18n.t('admin_menu.franchise.website') ,
        admins_website_preferences_path,
        class: "dropdown-item" %>
      </li>
      <div class="dropdown-divider"></div>
      <!-- SUPPORT-->  
      <li class = "dropdown-submenu">
        <a class = "dropdown-item dropdown-toggle" 
          tabindex="-1" href="#">
          <%=I18n.t('admin_menu.franchise.supports')%>
        </a>
        <ul class = "dropdown-menu">
          <!-- SUPPORT HISTORY-->  
          <li>
            <%= link_to I18n.t('admin_menu.franchise.support.support_history') , "#",
              class: "dropdown-item" %>
            </li>
          <li>
            <!-- SEARCH SUPPORT HISTORY-->  
            <%= link_to I18n.t('admin_menu.franchise.support.search_support') , "#" ,
              class: "dropdown-item"%>
          </li>
        </ul>
      </li>
      <div class="dropdown-divider"></div>
      <!-- FRANCHISE REPORTS-->  
      <li class = "dropdown-submenu">
        <a class = "dropdown-item dropdown-toggle" 
        tabindex="-1" href="#">
          <%=I18n.t('admin_menu.franchise.reports')%>
        </a>
        <ul class = "dropdown-menu">
          <!-- FRANCHISE LIST-->  
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.franchise_list') ,
            admins_franchise_list_path, 
              class: "dropdown-item" %>
          </li>
          <!-- FRANCHISE EXPIRING-->  
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.expiring') , admins_franchise_expiration_path ,
              class: "dropdown-item"%>
          </li>
          <!-- FRANCHISE REBATES-->  
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.advanced_rebate') , admins_franchise_advanced_rebate_path ,
              class: "dropdown-item"%>
          </li>
          <!-- FRANCHISE PRIOR REBATES-->   
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.prior_rebate') , admins_franchise_prior_rebate_path ,
              class: "dropdown-item"%>
          </li>
          <div class="dropdown-divider"></div>
          <!-- PAYMENT METHODS-->   
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.payment_methods') , admins_payment_methods_path ,
              class: "dropdown-item"%>
          </li>
          <!-- FRANCHISE MISSING PAYMENT METHODS-->   
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.missing_methods') ,
            admins_payment_methods_missing_path ,
            class: "dropdown-item"%>
          </li>
          <div class="dropdown-divider"></div>
          <!-- EXPIRING INSURANCE-->   
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.expiring_insurance') , admins_insurance_expiration_path ,
              class: "dropdown-item"%>
          </li>
          <!-- FRANCHISE MISSING INSURANCE-->   
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.missing_insurance') , admins_insurance_missing_path ,
              class: "dropdown-item"%>
          </li>
          <div class="dropdown-divider"></div>
          <!-- FINANCIAL REPORTING STATUS-->   
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.financial_status') ,
            admins_financial_status_path ,
              class: "dropdown-item"%>
          </li>
          <!-- CLIENT COUNTS AND FEE AVERAGES-->   
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.counts_averages') ,
            admins_financial_count_averages_path ,
              class: "dropdown-item"%>
          </li>
          <!-- FINANCIAL AGGREGATION-->   
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.financial_agg') , 
            admins_financial_aggregation_path ,
              class: "dropdown-item"%>
          </li>
          <div class="dropdown-divider"></div>
          <!-- Website Preferences-->   
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.website_pref') , admins_website_preferences_list_path ,
              class: "dropdown-item"%>
          </li>
          <!-- Missing Website Preferences-->   
          <li>
            <%= link_to I18n.t('admin_menu.franchise.report.missing_website') ,
            admins_website_preferences_missing_path ,
              class: "dropdown-item"%>
          </li>


        </ul>
      </li>
         
    </ul>
  </li>
  <!-- ROYALTIES MENU DROPDOWN-->   
  <li class="nav-item dropdown">
    <a href ="#" class="nav-link dropdown-toggle" 
       data-toggle="dropdown" 
       role="button" aria-haspopup = "true" 
       aria-expanded = "false">
      <%=I18n.t('admin_menu.royalty.royalties')%>
    </a>
    <ul class = "dropdown-menu multi-level" 
      aria-labelledby="navbarDropdownRoyaltyLink">
      <!-- ENTER ROYALTIES-->  
      <li>
        <%= link_to I18n.t('admin_menu.royalty.royalty_enter') , admins_franchises_select_index_path(destination: 'add_royalty'), class: "dropdown-item" %>
      </li>
      <!-- REVIEW ROYALTIES-->  
      <li>
        <%= link_to I18n.t('admin_menu.royalty.royalty_review') , admins_remittances_path, class: "dropdown-item" %>
      </li>
      <div class="dropdown-divider"></div>
      <!-- ROYALTIES REPORTS-->  
      <li class = "dropdown-submenu">
        <a class = "dropdown-item dropdown-toggle" 
        tabindex="-1" href="#">
          <%=I18n.t('admin_menu.royalty.reports')%>
        </a>
        <ul class = "dropdown-menu">
          <!-- FRANCHISE HISTORY-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.history') , "#",
              class: "dropdown-item" %>
          </li>
          <!-- FRANCHISE HISTORY MULTIPLE-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.history_years') ,
            "#" , class: "dropdown-item"%>
          </li>
          <div class="dropdown-divider"></div>
          <!-- COLLECTIONS BY RECEIPT DATE-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.coll_date') , "#" ,
              class: "dropdown-item"%>
          </li>
          <!-- COLLECTIONS BY RECEIPT DATE (Comparison)-->   
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.coll_date_comp') ,
             "#" , class: "dropdown-item"%>
          </li>
          <!-- COLLECTIONS UNDER THRESHOLD-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.coll_threshold') , "#" ,
              class: "dropdown-item"%>
          </li>
          <!-- COLLECTIONS SUMMARY BY RECEIPT MONTH-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.coll_summ_month'),
             "#" , class: "dropdown-item"%>
          </li>
          <!-- COLLECTIONS SUMMARY BY YEAR-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.coll_summ_year') , "#" ,
              class: "dropdown-item"%>
          </li>
          <div class="dropdown-divider"></div>
          <!-- ROYALTY SUMMARY BY MONTH-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.roy_summ_month') , "#" ,
              class: "dropdown-item"%>
          </li>
          <!-- ROYALTY SUMMARY BY YEAR-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.roy_summ_year') , "#" ,
              class: "dropdown-item"%>
          </li>
          <div class="dropdown-divider"></div>
          <!-- MONTHLY RANKNIGS-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.month_rank') , "#" ,
              class: "dropdown-item"%>
          </li>
          <!-- PERFORMANCE REPORT-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.performance') , "#" , class: "dropdown-item"%>
          </li>
          <!-- SALES REPORT-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.sales') , "#" ,
              class: "dropdown-item"%>
          </li>
          <!-- GROWTH REPORT-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.growth') , "#" ,
              class: "dropdown-item"%>
          </li>
          <!-- YEARLY RANKINGS AVG-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.rank_avg') , "#" ,
              class: "dropdown-item"%>
          </li>
          <!-- YEARLY RANKINGS TOTALS-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.rank_tot') , "#" ,
              class: "dropdown-item"%>
          </li>
          <div class="dropdown-divider"></div>
          <!-- LATE REPORTS SUBMITTED-->  
          <li>
            <%= link_to I18n.t('admin_menu.royalty.report.late') , "#" ,
              class: "dropdown-item"%>
          </li>
        </ul>
      </li>
         
    </ul>
  </li>
  <!-- CHARGES AND RECEIPTS MENU DROPDOWN-->   
  <li class="nav-item dropdown">
    <a href ="#" class="nav-link dropdown-toggle" 
       data-toggle="dropdown" 
       role="button" aria-haspopup = "true" 
       aria-expanded = "false">
      <%=I18n.t('admin_menu.charge_receipt.charges_receipts')%>
    </a>
    <ul class = "dropdown-menu multi-level" 
      aria-labelledby="navbarDropdownReceiptsLink">
      <!-- CHARGES-->  
      <li>
        <%= link_to I18n.t('admin_menu.charge_receipt.charges') ,
        admins_charges_path, class: "dropdown-item" %>
      </li>
      <!-- CREDITS-->  
      <li>
        <%= link_to I18n.t('admin_menu.charge_receipt.credits') , admins_credits_path, class: "dropdown-item" %>
      </li>
      <!-- CHECKS-->  
      <li>
        <%= link_to I18n.t('admin_menu.charge_receipt.checks') , "#", class: "dropdown-item" %>
      </li>
      <!-- FRANCHISE INVOICES-->  
      <li>
        <%= link_to I18n.t('admin_menu.charge_receipt.invoices') ,
        admins_invoices_path, class: "dropdown-item" %>
      </li>
      <div class="dropdown-divider"></div>
      <!-- CHARGES AND RECEIPTS REPORTS-->  
      <li class = "dropdown-submenu">
        <a class = "dropdown-item dropdown-toggle" 
        tabindex="-1" href="#">
          <%=I18n.t('admin_menu.charge_receipt.reports')%>
        </a>
        <ul class = "dropdown-menu">
          <!-- AMOUNTS DUE-->  
          <li>
            <%= link_to I18n.t('admin_menu.charge_receipt.report.due') , "#",
              class: "dropdown-item" %>
          </li>
          <!-- DELINQUENT REPORT-->  
          <li>
            <%= link_to I18n.t('admin_menu.charge_receipt.report.delinquent') ,
            "#" , class: "dropdown-item"%>
          </li>
          <!-- STATEMENT-->  
          <li>
            <%= link_to I18n.t('admin_menu.charge_receipt.report.statement') ,
            "#" , class: "dropdown-item"%>
          </li>
          <div class="dropdown-divider"></div>
          <!-- TRANSACTION SUMMARY-->  
          <li>
            <%= link_to I18n.t('admin_menu.charge_receipt.report.trans_sum') , "#" ,
              class: "dropdown-item"%>
          </li>
          <!-- TRANSACTION DETAIL-->   
          <li>
            <%= link_to I18n.t('admin_menu.charge_receipt.report.trans_det') ,
             "#" , class: "dropdown-item"%>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <!-- PAYMENTS MENU DROPDOWN-->   
  <li class="nav-item dropdown">
    <a href ="#" class="nav-link dropdown-toggle" 
       data-toggle="dropdown" 
       role="button" aria-haspopup = "true" 
       aria-expanded = "false">
      <%=I18n.t('admin_menu.payment.payments')%>
    </a>
    <ul class = "dropdown-menu multi-level" 
      aria-labelledby="navbarDropdownPaymentsLink">
      <!-- PENDING-->  
      <li>
        <%= link_to I18n.t('admin_menu.payment.pending') , "#", class: "dropdown-item" %>
      </li>
      <!-- APPROVED-->  
      <li>
        <%= link_to I18n.t('admin_menu.payment.approved') , "#", class: "dropdown-item" %>
      </li>
      <!-- DECLINED-->  
      <li>
        <%= link_to I18n.t('admin_menu.payment.error') , "#", class: "dropdown-item" %>
      </li>
      <!-- ALL PAYMENTS-->  
      <li>
        <%= link_to I18n.t('admin_menu.payment.all') , "#", class: "dropdown-item" %>
      </li>
      <div class="dropdown-divider"></div>
      
      <li>
        <%= link_to I18n.t('admin_menu.payment.manage_checks') , "#",
          class: "dropdown-item" %>
      </li>
      <div class="dropdown-divider"></div>
      <!-- CHARGES AND RECEIPTS REPORTS-->  
      <li class = "dropdown-submenu">
        <a class = "dropdown-item dropdown-toggle" 
        tabindex="-1" href="#">
          <%=I18n.t('admin_menu.payment.reports')%>
        </a>
        <ul class = "dropdown-menu">
          <!-- PAYMENTS BY TYPE-->  
          <li>
            <%= link_to I18n.t('admin_menu.payment.report.by_method') , "#",
              class: "dropdown-item" %>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <!-- TOOLS-->   
  <li class="nav-item dropdown">
    <a href ="#" class="nav-link dropdown-toggle" 
       data-toggle="dropdown" 
       role="button" aria-haspopup = "true" 
       aria-expanded = "false">
      <%=I18n.t('admin_menu.tool.tools')%>
    </a>
    <ul class = "dropdown-menu multi-level" 
      aria-labelledby="navbarDropdownToolsLink">
      <!-- MANAGE TRANSACTION CODES CODES-->  
      <li>
        <%= link_to I18n.t('admin_menu.tool.transaction_codes'),
        admins_transaction_codes_path,
          class: "dropdown-item" %>
      </li>
      
      <!-- MANAGE FRANCHISE GROUPS-->  
      <li>
        <%= link_to I18n.t('admin_menu.tool.fran_groups') , "#",
          class: "dropdown-item" %>
      </li>
      <div class="dropdown-divider"></div>
      <!-- LOGIN AS ANOTHER FRANCHISE-->  
      <li>
        <%= link_to I18n.t('admin_menu.tool.login_as') , admins_switch_user_path,
          class: "dropdown-item" %>
      </li>
       
      <div class="dropdown-divider"></div>
      <!-- SYSTEM-->  
      <li class = "dropdown-submenu">
        <a class = "dropdown-item dropdown-toggle" 
        tabindex="-1" href="#">
          <%=I18n.t('admin_menu.tool.system.systems')%>
        </a>
        <ul class = "dropdown-menu">
          <!-- EVENT LOG-->  
          <li>
            <%= link_to I18n.t('admin_menu.tool.system.event_log') , "#",
              class: "dropdown-item" %>
          </li>
          <!-- SERVER LOGS-->  
          <li>
            <%= link_to I18n.t('admin_menu.tool.system.server_log') , "/logs",
            class: "dropdown-item" %>
          </li>
          <!-- AUDIT TRAIL-->  
          <li>
            <%= link_to I18n.t('admin_menu.tool.system.audit') , "#",
            class: "dropdown-item" %>
          </li>
          <!-- BACKGROUND JOBS-->  
          <li>
            <%= link_to I18n.t('admin_menu.tool.system.jobs') , "/sidekiq",
            class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to I18n.t('admin_menu.tool.system.pay_resp') , "#",
            class: "dropdown-item" %>
          </li>
          
        </ul>
      </li>

      <div class="dropdown-divider"></div>

      <!-- TOOLS REPORTS-->  
      <li class = "dropdown-submenu">
        <a class = "dropdown-item dropdown-toggle" 
        tabindex="-1" href="#">
          <%=I18n.t('admin_menu.tool.reports')%>
        </a>
        <ul class = "dropdown-menu">
          <!-- EVENT LOG-->  
          <li>
            <%= link_to I18n.t('admin_menu.tool.report.event_log') , "#",
              class: "dropdown-item" %>
          </li>
          <!-- REGISTERED USERS-->  
          <li>
            <%= link_to I18n.t('admin_menu.tool.report.users') , "#",
              class: "dropdown-item" %>
          </li>
          <!-- MISSING FRANCHISES-->  
          <li>
            <%= link_to I18n.t('admin_menu.tool.report.not_using') , "#",
              class: "dropdown-item" %>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <!-- USER PROFILE -->
  <li class="nav-item dropdown">
    <a href ="#" class="nav-link dropdown-toggle" 
       data-toggle="dropdown" 
       role="button" aria-haspopup = "true" 
       aria-expanded = "false">
      <%=I18n.t('admin_menu.user.users')%>
    </a>
    <ul class = "dropdown-menu multi-level" 
      aria-labelledby="navbarDropdownUsersLink">
      <!-- Manage Home Office Users-->  
      <li>
        <%= link_to I18n.t('admin_menu.user.manage') , "#",
          class: "dropdown-item" %>
      </li>
      <!-- Your Profile-->  
      <li>
        <%= link_to I18n.t('admin_menu.user.profile') , edit_admin_registration_path(current_admin),
          class: "dropdown-item" %>
      </li>
    </ul>
  </li>



  
</ul>