<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div id = "table-scroll"
     class = "table-scroll">

  <table id = "accountant-list" 
         class="table-striped">
    <thead id="list">
      <tr>
        <!-- Franchise Number -->
        <th scope = "col" class = "td-left">
          <%=sortable "franchises.franchise_number", I18n.t('accountant.index.franchise') %>
        </th>

        <!-- Accountant  -->
        <th scope = "col" class = "td-left">
          <%=I18n.t('accountant.index.accountant')%>
        </th>

        <!-- Lastname  -->
        <th scope = "col" class="td-left">
          <%=sortable "lastname" , I18n.t('accountant.index.lastname') %>
        </th>
      
        <!-- Firstname  -->
        <th scope = "col" class = "td-left">
          <%=sortable "firstname" , I18n.t('accountant.index.firstname') %>
        </th>

        <!-- For Edit and Delete link we have 2 other columns  -->
        <th scope = "col"></th>
        <th scope = "col"></th>
        <th scope = "col"></th>
        <th scope = "col"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Go through our filtered franchises  -->
      <% @accountants.each do |accountant| %>
        <tr>
          <!-- Franchise  -->
          <td  data-name = "Franchise"
               scope="col" 
               class = "td-left">
            <%=accountant.franchise.franchise_number %>   <%=accountant.franchise.full_name%> 
          </td>
      
          <!-- Accountant Number  -->
          <td data-name = "Accountant"
              scope="col" 
              class = "td-left">
            <%=accountant.accountant_num%>
          </td>

          <!-- Lastname  -->
          <td data-name="Last Name"
              scope="col"
              class = "td-left">
            <%=accountant.lastname%> 
          </td>

          <!-- Firstname  -->
          <td data-name = "First Name"
              scope = "col"
              class = "td-left">
            <%=accountant.firstname%> 
          </td>

          <!-- Edit Icon and Link  -->
          <%if can? :edit, accountant%>
            <td data-name = "" 
                class = "td-center">
            <%=link_with_icon(edit_admins_accountant_path(id:accountant),
              "edit",
              I18n.t('accountant.index.edit_link'),
              "",
              false)%> 
            </td>
          <%else%>
            <td></td>
          <%end%>

          <!-- View Icon and Link  -->
          <%if can? :read, accountant%>
            <td data-name = "" 
                class = "td-center">
            <%=link_with_icon(admins_accountant_path(id:accountant),
              "show",
              I18n.t('accountant.index.edit_link'),
              "",
              false)%> 
            </td>
          <%else%>
            <td></td>
          <%end%>

          <%if can? :delete, accountant%>
            <td data-name = ""
                class = "td-center">
              <%=link_with_icon(admins_accountant_path(id:accountant),
              "delete",
              I18n.t('accountant.index.delete_link'),
              I18n.t('accountant.index.delete_confirm'),
              false)%> 
            </td>
          <%else%>
            <td></td>
          <%end%>

          <td data-name="" class = "td-center">
            <%if accountant.audits.size > 0%>
              <%=link_with_icon(
              admins_accountant_audit_path(id:accountant),
              "audit",
              I18n.t('franchise.index.audit_link'),
              "",
              false)%>
            <%end%>    
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>  

<!-- Pagination Links  -->
<div class = "row justify-content-center">
  <div class = "flickr_pagination">
    <%= will_paginate @accountants,
    pervious_label: I18n.t('pagination.prev'),
    next_label: I18n.t('pagination.next') %>
  </div>
</div>
