<div class = "card">
  <div class = "card-header login-header">
    <h4>
      <%if action == "edit"%>
        <%=I18n.t('accountant.form.edit_title')%> <%=accountant.full_denomination%>
      <%else%>
        <%=I18n.t('accountant.form.create_title')%>
      <%end%>
    </h4>
  </div>
  <%= form_for [:admins, accountant] do |acc| %>
    <div class = "card-body card-background-padgett">
      <div class = "form-row col-12">
        <!-- HIDDEN FRANCHISE ID -->
        <%=acc.hidden_field :franchise_id, 
           :value => acc.object.franchise_id%>
        <!-- FRANCHISE -->   
        <div class = "form-group form-row col-6">
  	      <%=acc.label :franchise_id,
  	      class: "col-md-4 col-sm-4 col-lg-4
                  col-form-label col-form-label-sm 
                  label-bold" %>
  	      <div class = "col-sm-6 col-md-6 col-lg-6">
  		      <%=acc.collection_select :franchise_id,
  		        Franchise.all,
  		        :id,
  		        :number_and_name,{},
  		        {class: 'form-control form-control-sm col',
               required: true, disabled: true}%>
          </div>
        </div>
        
        <!-- ACCOUNTANT NUMBER -->
        <div class = "form-group form-row col-6">
          <%=acc.label :accountant_num,
           class: 'col-md-4 col-sm-4 col-lg-4
                   col-form-label-sm label-bold'%>
          <div class = "col-sm-3 col-md-3 col-lg-2">
      	    <%= acc.text_field :accountant_num,
      	    class: "form-control form-control-sm col",
            required: true%>
          </div>
        </div>
      </div>
     
      <div class = "form-row col-12">
  	    <!-- LAST NAME -->
  	    <div class = "form-group form-row col-6">
  	      <%=acc.label :lastname,
            class: 'col-md-4 col-sm-4 col-lg-4
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-6 col-md-6 col-lg-5">
      	    <%= acc.text_field :lastname,
      	      class: "form-control form-control-sm col",
              required: true%>
          </div>   
  	    </div>
  	    
        <!-- FIRST NAME -->
  	    <div class = "form-group form-row col-6">
  	      <%=acc.label :firstname, 
            class: 'col-md-4 col-sm-4 col-lg-4
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-6 col-md-6 col-lg-5">
      	    <%= acc.text_field :firstname,
      	      class: "form-control form-control-sm col",
              required: true%>
          </div>   
  	    </div>
      </div>

      <div class = "form-row col-12">
  	    <!-- MIDDLE INITIAL -->
  	    <div class = "form-group form-row col-6">
  	      <%=acc.label :initial, 
            class: 'col-md-4 col-sm-4 col-lg-4
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-3 col-md-3 col-lg-2">
      	    <%= acc.text_field :initial,
              class: "form-control form-control-sm col"%>
          </div>   
  	    </div>

  	    <!-- SALUTATION -->
  	    <div class = "form-group form-row col-6">
  	      <%=acc.label :salutation,
            class: 'col-md-4 col-sm-4 col-lg-4
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-3 col-md-3 col-lg-2">
      	    <%= acc.text_field :salutation,
      	      class: "form-control form-control-sm col"%>
          </div>   
     	  </div>
      </div>

      <div class = "form-row col-12">
        <!-- BIRTHDATE -->
        <div class = "form-group form-row col-6">
          <%=acc.label :birthdate, 
            class: 'col-md-4 col-sm-4 col-lg-4
                    col-form-label-sm label-bold'%>
          <div class = "col-sm-5 col-md-5 col-lg-4">
            <%= acc.text_field :birthdate,
            value: (l acc.object.birthdate if acc.object.birthdate),
            class: "form-control form-control-sm col text-center",
              id: "accountant_birth_date",
              style: "display:inline-block; vertical-align: middle; width: 60%;margin: 0 5px 0 0;"%>
          </div>   
        </div>
      </div>
    </div>
</div>  
<br />
<%=render partial: "status", locals: {acc: acc}%>
<br />
<%=render partial: "education", locals: {acc: acc}%>
<br />
<%=render partial: "spouse", locals: {acc: acc}%>
<br />
<%=render partial: "notes", locals: {acc: acc}%>
<br />
<div class = "row col-6">
  <%=acc.submit (I18n.t('accountant.form.save')),
    class: 'btn btn-padgett col-md-3 col-lg-3',
    name: "submit" %>
  <div class = "col-md-2 col-lg-2"></div>
  <%=link_to (I18n.t('accountant.form.return')),
    admins_accountants_path,
    class: 'btn btn-padgett col-md-3 col-lg-3' %>
</div>

<%end%>

