<div class = "card">
  <div class = "card-header login-header">
    <%=I18n.t('accountant.form.status')%>
  </div>
  
  <div class = "card-body card-background-padgett">
    <div class = "form-row col-12">
      <!-- START DATE -->
      <div class = "form-group form-row col-6">
        <%=acc.label :start_date,
        class: "col-md-4 col-sm-4 col-lg-4
                col-form-label-sm label-bold" %>
        <div class = "col-sm-5 col-md-5 col-lg-4">
          <%=acc.text_field :start_date,
          value: (l acc.object.start_date if acc.object.start_date),
          class: 'form-control form-control-sm col text-center',
          id: "accountant_start_date",
          style: "display:inline-block; vertical-align: middle; width: 60%;margin: 0 5px 0 0;",
           required: false%>
        </div>
      </div>
      
      <!-- TERM DATE -->
      <div class = "form-group form-row col-6">
        <%=acc.label :term_date,
        class: 'col-md-4 col-sm-4 col-lg-4
                col-form-label-sm label-bold'%>
        <div class = "col-sm-5 col-md-5 col-lg-4">
          <%= acc.text_field :term_date,
          value: (l acc.object.term_date if acc.object.term_date),
          class: 'form-control form-control-sm col text-center',
          id: "accountant_term_date"  , 
          style: "display:inline-block; vertical-align: middle; width: 60%;margin: 0 5px 0 0;"%>
        </div>
      </div>
    </div>

    <div class = "form-row col-12">
      <!-- INACTIVE -->
      <div class = "form-group form-row col-6">
        <%=acc.label :inactive,
        class: "col-md-4 col-sm-4 col-lg-4 
                col-form-label-sm label-bold" %>
        <div class = "col-sm-7 col-md-7 col-lg-7">
          <%=acc.check_box :inactive,
          class: 'form-control form-control-sm col',
          style: "width:15px;vertical-align:middle"%>
        </div>
      </div>
      
      <!-- ADVISORY BOARD -->
      <div class = "form-group form-row col-6">
        <%=acc.label :advisory_board,
        class: "col-md-4 col-sm-4 col-lg-4 
                col-form-label-sm label-bold" %>
        <div class = "col-sm-7 col-md-7 col-lg-7">
          <%=acc.check_box :advisory_board,
          class: 'form-control form-control-sm col',
          style: "width:15px;vertical-align:middle"%>
        </div>
      </div>
    </div>
  </div>
</div>  