<div id = "table-scroll"
	 class = "table-scroll">
  <table id = "financial-list"
         class = "table-striped">
	<thead id = "list">
      <tr>
        <!-- Franchise -->
        <th scope = "col" class = "td-left">
          Franchise
        </th>
        <!-- Date -->
        <th scope = "col" class = "td-left">
        	Date
        </th>

        <!-- Trans Code -->
        <th scope = "col" class = "td-left">
        	Transaction
        </th>

        
        <!-- Icon for desc -->
        <th scope = "col" class = "td-left">
          
        </th>        

        <!-- Amount  -->
        <th scope = "col" class = "td-right">
           Amount
        </th>        

                 
        <th scope = "col" class = "td-center"></th>

      
      </tr>
    </thead>

    <% if @latest_transactions.size > 0 %>
      <tbody>    
    	<%@latest_transactions.each do |trans|%>
    	  <tr>
            <!-- Franchise -->
            <td data-name = "Franchise"
            scope = "col"
            class = "td-left">
              <%=trans.franchise.number_and_name%>
            </td>
            <!-- Date -->
    	    <td data-name = "Date"
    	      	scope = "col"
    	      	class = "td-left">
    	  	    <%=I18n.l trans.date_posted, format: :prp%>
    	  	</td>

            <!-- Transaction-->
    	  	<td data-name = "Transaction" 
    	  	   	scope = "col"
    	  	   	class = "td-left">
     	  	    <%=TransactionCode.description_from_code(trans.trans_code)%>
    	  	</td>
            
            

            <!-- Icon for Desc -->
            <td data-name = "" 
                scope = "col"
                class = "td-left">
                <%=description_peek(trans.trans_description,"right")%>
            </td>

            <!-- Amount -->
            <td data-name = "Amount" 
                scope = "col"
                class = "td-right">
                <%=number_to_currency(trans.amount, precision: 2)%>
            </td>

                 
    	  	
            <!-- View Link if User can View -->
    	  	<td>
            <%= link_with_icon(
              polymorphic_path([:admins,trans.transactionable]),
              "show",
              "See this transaction",
              false)%>
          </td>
    	  </tr>
   	  	<%end%>
      </tbody>
  	<%end%>
  </table>
</div>  	