<!--FORM TO SELECT CURRENT PERIOD -->
<%=form_tag root_path, 
  method: :post,
  class: 'form-inline mb-2' do %>
    <h3 class="mr-2">
    	<%=I18n.t('dashboard.admin.period')%>
    </h3>
	  <%=select_year( @year,
	  options={:field_name => 'target_year',
	  :prefix =>"",
	  start_year: 2000,
	  end_year: 2020},
		html_options = {:class =>'form-control form-control-sm mr-2'}) %>
  
    <%=select_month(@month,
    options={:field_name => 'target_month',
    :prefix =>""},
  	html_options = {:class =>'form-control form-control-sm mr-2'}) %>
  
    <%=submit_tag (I18n.t('dashboard.admin.reload')),
    class: 'btn btn-padgett my-1'%>
 <%end%> <!-- END OF FORM -->

<div id="statistics">
  <%=render partial: 'admin_statistics'%>
</div>

<div id="graphs">
	<%=render partial: 'admin_graphics'%>
</div>

